body{
	margin:0;
	padding:0;
	background:url("images/cosmos.jpg");
}

.header{
	text-align:center;
	color: white;
}

.earth {
	display:block;
	margin:auto;
	position:relative;
	z-index:1;
}

.moon {
	display:block;
	margin:auto;
	position:absolute;	
	-webkit-animation: linear 6s orbita infinite;
	animation: linear 6s orbita infinite;
	z-index:0;
}

@-webkit-keyframes orbita{
	0%{
		left:800px;
		top:170px;
		width:150px;
	}
	24%{
		z-index:0;
	}
	25%{
		left:880px;
		top:140px;
		z-index:2;
	}
	50%{
		width:220px;
	}
	74%{
		z-index:2;
	}
	75%{
		top:450px;
		left:280px;
		z-index:0;
	}
	100%{
		width:150px;
		left:800px;
		top:170px;
		transform:rotate(360deg);
	}
}

@keyframes orbita{
	0%{
		left:800px;
		top:170px;
		width:150px;
	}
	24%{
		z-index:0;
	}
	25%{
		left:880px;
		top:140px;
		z-index:2;
	}
	50%{
		width:220px;
	}
	74%{
		z-index:2;
	}
	75%{
		top:450px;
		left:280px;
		z-index:0;
	}
	100%{
		width:150px;
		left:800px;
		top:170px;
		transform:rotate(360deg);
	}
}